body {
    font-family: 'Times New Roman', Times, serif;
    background: url('../../img/_be359bea-d2aa-469e-94aa-dfef93b7c63f.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}


.input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .input-group input {
    width: 100%; /* Faz com que o input ocupe 100% da largura do container pai */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }

.logo img {
    width: 100px;
}

.logo h1 {
    color: #fff;
}

.login-box {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.additional-options {
    margin-top: 15px;
}

.additional-options a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.additional-options a:hover {
    text-decoration: underline;
}